
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #ffecd2, #fcb69f, #a1c4fd, #c2e9fb);
    background-size: 400% 400%;
    animation: fondoAnimado 10s ease infinite;
}

@keyframes fondoAnimado {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


canvas {
    border: 3px solid #333;
    background-color: #ffffff;
    margin-top: 40px;

    
    cursor: none;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #1279ff, #6bd9fa);
    color: white;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


#victory {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}

#victory img {
    width: 500px;
}

.sponge-hint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    pointer-events: none;
    transition: all 0.2s ease;
}

.sponge-hint img {
    width: 100px;
    height: 100px;
}